body{
    background-color: #f0f0f0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {    
    color: #333;
}
nav {
    background-color: #c1cec2;
    padding: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
