/* Header */
.header-container {
    background-color: var(--color-primary);
    padding: 1.5rem;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title h1 {
    color: white;
    font-size: 2rem;
}

.header-links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.header-links a:hover {
    text-decoration: underline;
}
.shopping-cart
{   
    font-size: 1.5rem;
}
.cart-counter {
  display: none; 
  background: rgb(0, 0, 0);
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;

}
